<h1>Edit Profile</h1>

<form action="" method="">

 <label for="">Username</label>
 <input type="text" value="{{username}}"> 

 <label for="">Email</label>
 <input type="text" value="{{email}}">

 <label for="">Password</label>
 <input type="text" value="{{password}}">

 <button type="submit">Edit Profile</button>

</form>