<form action="/auth/signup" method="post">
  <label for="">Email</label>
  <input type="email" name="email" id="" />

  <label for="">Password</label>
  <input type="password" name="password" />

  <button type="submit">Sign up</button>
</form>