<h2 class="title">Profile</h2>

<div class="pro">
    <h3>{{username}}</h3>

    <h3>{{email}}</h3>

    <a href="/auth/edit/{{id}}">Edit Profile</a>

    <a href="/delete/{{id}}">Delete your Profile</a>
</div>