<h2 class="title">Profile</h2>

<div class="profile">
    <h3>{{username}}</h3>

    <h3>{{email}}</h3>

    <a href="/auth/edit/{{id}}">Edit Profile</a>

    <button type="a">Delete Profile</button> {{!-- Por hacer --}}
</div>