{{!--
<form action="/auth/signup" method="post">

  <label for="">Username</label>
  <input type="text" name="username" id="">

  <label for="">Email</label>
  <input type="email" name="email" id="">

  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Sign up</button>
</form> --}}

<div class="pro">

  <h2 class="title">Create your account!</h2>

  <form action="/auth/signup" method="post">
    <div class="mb-3">
      <label class="form-label">Username</label>
      <input type="text" name="username" class="form-control">
      <div class="form-text">Your username will be the name everyone will see, so be creative!</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Email address</label>
      <input type="email" name="email" class="form-control" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>