<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body class="bg">

  <nav class="navbar navbar-expand-lg bg-success text-white">
    <div class="container-fluid">

      <a class="navbar-brand text-white letter indieFont" href="/">Spoonable</a>
      <div class="collapse navbar-collapse navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-white letter" aria-current="page" href="/search-recipes">Recipes</a>
          </li>
          {{#if id}}
          <li class="nav-item">
            <a class="nav-link text-white letter" href="/auth/profile">Profile</a>
          </li>
          {{/if}}
        </ul>
        {{#if id}}
        <a class="nav-link text-white letter" href="/auth/logout">Log Out</a>
        {{/if}}
        {{#unless id}}
        <a class="nav-link auth" href="/auth/signup">Sign Up</a>
        <a class="nav-link auth" href="/auth/login">Log In</a>
        {{/unless}}
        {{!-- {{#if userConnected}} --}}
        {{!-- {{/if}} --}}
      </div>
    </div>
  </nav>

  {{{body}}}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
  <script src="/js/script.js"></script>

</body>

</html>