<h1>Your Results:</h1>

{{#each results}}

<div class="card mb-2 border-dark" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{image}}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione dignissimos nemo id doloribus tempora nesciunt illo modi molestiae</p>
        <a href="/recipe/{{id}}">Check this recipe!</a>  
      </div>
    </div>
  </div>
</div>

{{/each}}
