<h1>Your Results:</h1>

 <div class="container cards card mb-2"  style="max-width: 100%;">
  <div class="row justify-content-center recipe-cluster">
{{#each results}}

<div class="col-sm-12 col-md-6 col-lg-3">
<div class="card" style="width: 100%;">
  <img src={{image}} class="card-img-top" alt="recipe">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque tempore aliquam fuga assumenda illo. Temporibus necessitatibus libero, vero velit repudiandae delectus aperiam esse? Sapiente atque sed inventore, consectetur harum dolore.</p>
    <a href="/recipe/{{id}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>

{{/each}}
  </div>
</div>

