<h1>Recipe Finder</h1>

<form action="" method="">
    <label for="">Ingredient</label>
    <input type="text" name="ingredient">

    <label for="">Type of cuisine</label>
   <select name="select" id="">
    <option value="value1"> Spanish</option>
    <option value="value2">American</option>
    <option value="value3">Mexican</option>
    <option value="value4">Latin American</option>
    <option value="value5">Thai</option>
   </select>

   <label for="">Diet</label>
   <select name="select" id="">
    <option value="value1">Gluten Free</option>
    <option value="value2">Vegetarian</option>
    <option value="value3">Vegan</option>
   </select>

   <label for="">Intolerances</label>
   <select name="select" id="">
    <option value="value1">Egg</option>
    <option value="value2">Gluten</option>
    <option value="value3">Peanut</option>
    <option value="value4">Seafood</option>
    <option value="value5">Shellfish</option>
    <option value="value6">Wheat</option>
   </select>

   <button type="submit">Search</button>
</form>